.button__genero {
  padding: 8px 16px;
  margin: 0 8px 0 0;
  background-color: var(--gray-6);
  border: none;
  color: var(--gray-3);
  border-radius: 5px;
  cursor: pointer;
}
.active {
  background-color: black;
  color: white;
}

.genero {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}
