@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brand-1: #6f00ff;
  --brand-2: #8629ff;
  --gray-1: #15171a;
  --gray-2: #212529;
  --gray-3: #2b2f33;
  --gray-4: #ced4da;
  --gray-5: #dee2e6;
  --gray-6: #f1f3f5;
  --gray-7: #f8f9fa;
  --gray-8: #fdfeff;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1024px;
  background-color: var(--grey-8);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
