.cabecalho {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--brand-2);
  padding: 40px 0;
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

span {
  color: var(--brand-2);
}
