.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 0;
  width: 1024px;
}
.label h2 {
  font-size: 24px;
  font-weight: 600;
}
.label p {
  font-size: 22px;
  font-weight: 600;
}
.preco {
  padding: 20px 0;
  width: 100%;
}

.filtro__preco {
  padding: 25px 0;
}

#volume {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 1024px;
  outline: none;
  background-color: var(--brand-1);
  border-radius: 0.5rem;
  height: 0.5rem;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 0.5rem solid var(--brand-1);
}
